body {
	background-color: white;
	margin-bottom: 40px;
	margin-top: 120px;
	margin-right: 20px;
	margin-left: 20px;
}
header {
	top: 0px;
	left: 0px;
	margin-top: 0px;
	width: 100%;
	height: 13%;
	text-align: center;
	background-color: black;
	color: white;
	font-family: 'Sue Ellen Francisco', cursive;
	position: fixed;
	display: inline-flex;
	justify-content: center;
}
header h1 {
	font-size: 40px;
}
header p {
	font-size: 20px;
	font-family: 'Sue Ellen Francisco', cursive;
}
div {
	border: 5px solid #cc0000;
	border-radius: 6px;
}
div p {
	margin: 20px;
}
img {
	transition: all 0.3s ease;
}
p {
	font-family: 'Droid Serif', serif;
}
a {
	text-decoration: none;
	color: black;
	font-family: 'Sue Ellen Francisco', cursive;
}
a:hover {
	color: #cc0000;
}
a:visited {
	color: #600080;
}
.tab {
	width: 21%;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: row;
}
.tab a {
	font-size: 25px;
	text-align: center;
}
.spec {
	font-size: 30px;
	font-weight: bold;
}
.small {
	height: 300px;
	width: 150px;
}
.inline {
	margin-top: 20px;
	display: inline-flex;
}
.caption {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}
#new img {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
#quote {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
#new {	
	margin: 40px;
}
#new p {
	text-align: center;
}
#grow:hover {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}